:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark);
  background-color: var(--light);

  --dark: rgba(12, 14, 14, 1);
  --light: rgb(255, 173, 143);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 2vw;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: var(--dark);
  font-size: 1.25rem;
  text-decoration: inherit;
}

a:hover {
  font-style: italic;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: .8rem;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#router {
  width: 96vw;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  margin-top: 1rem;
  z-index: 2;
}

nav, #footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 94vw;
  z-index: 2;
}

#about-blurb {
  width:85vw;
}

#about-image {
  display: flex;
  justify-content: right;
  margin-bottom: -18vw;
}

#about-image img {
  width: 30vw;
  border-radius: 50%;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70vh;
}

.project-preview {
  width: 65vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 2vw;
  height: 12vw;
  padding: 0 2vw;
  border-radius: 2vw;
}

.project-preview img {
  width: 15vw;
  object-fit: scale-down;
  margin-right: 5vw;
  border-radius: 1vw;
}

#single-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}

#single-project-blurb {
  width: 45vw;
}

#single-project img {
  width: 40vw;
}

#footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  z-index: 2;
}

#copyright p {
  font-size: .6rem;
  color: var(--dark)
}

@media screen and (max-width: 800px) {

  #app {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 75vh;
  }

  #router {
    margin-top: 15vh;
  }

  nav, #footer {
    flex-direction: column;
    position: absolute;
    top: 1%;
    left: 3%;
    margin: 0;
    width: 50vw;
  }

  nav {
    align-items: start;
  }

  #footer {
    align-items: end;
    left: 48%;
    bottom: 100%;
  }

  #copyright p {
    font-size: 12px;
  }

  #single-project {
    flex-direction: column;
  }

  #about-image {
    justify-content: center;
    margin-bottom: 0;
  }

  h1 {
    font-size: 24px;
  }

  h2, a {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  #projects {
    margin-top: 5vh;
    height:fit-content;
    justify-self: baseline;
  }

  .project-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
  }

  .project-preview img {
    margin: 0;
    padding-top: 2vw;
    width: 200px;
    border-radius: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--light);
    background-color: var(--dark);
  }

  a {
    color: var(--light);
  }

  #copyright p {
    color: var(--light);
  }

}


